html,body{
	height: 100%; 
	width: 100%; 
	margin: 0; 
	font-family: Microsoft JhengHei;
	font-weight: 700;
}

.header{
	width: 100%;
	height: 10%;
	background: #6a1208;
	opacity: .8;
	z-index: 2;
	color: white;
	text-align: center;
}
.title{
	display: inline-block;
    margin-top: 20px;
    font-size: 30px;
}
.right{
	position: absolute;
	top: 20px;
    right: 20px;
	margin-left: 10px;
	float: right;
}

.icon{
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: inline-block;
    margin-left: 10px;
    background-image: url(../img/columns.png);
}

.panels{
	width: 100%;
	height: 90%;
	display: flex;
	overflow: hidden;
	flex-direction: row;
}

.panel{
	position: relative;
	text-align: center;
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all .2s;
	cursor: pointer;
	/*border: 1px solid black;*/
	flex-direction: column;
	box-shadow:inset 1px 1px 10px black;
}

.panel.open{
	flex: 10;
}

.panel:before{
	content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.7;
    background-repeat: no-repeat;
    background-position: 0 center;
    background-size: cover;
}

.panel.open:before{
	background-position: 0 0;
}

.panel > *{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition:transform .2s;
	opacity: 1;
	z-index: 2;
	font-size: 24px;
	flex: 1 0 auto;
}

.panel.open > *{
	font-size: 36px;
}

.panel > *:first-child{	transform: translateY(-1000%); }
.panel.open-active > *:first-child{ transform: translateY(0); }
.panel > *:last-child{ transform: translateY(1000%); }
.panel.open-active > *:last-child{ transform: translateY(0); }

.brook:before{ background-image: url(../img/brook.jpg); }
.robin:before{ background-image: url(../img/robin.jpg); }
.sanji:before{ background-image: url(../img/sanji.jpg); }
.nami:before{ background-image: url(../img/nami.jpg); }
.luffy:before{ background-image: url(../img/luffy.jpg); }
.zoro:before{ background-image: url(../img/zoro.jpg); }
.usopp:before{ background-image: url(../img/usopp.jpg); }
.chopper:before{ background-image: url(../img/chopper.jpg); }
.franky:before{ background-image: url(../img/franky.jpg); }


@media screen and (min-width: 767px) and (max-width: 979px){
	.title{
		font-size: 24px;
	}
	.icon{
		background-image: url(../img/grids.png);
	}
	.panels{
		flex-wrap: wrap;                     
	}

	.panel{
		flex: 0 0 33.3%;
	}

	.panel.open{
		z-index: 3;
	}

	.panel:before{
		background-position: center 20%;
	}

	.panel.open:before{
		opacity: .9;
	}

	.panel > *{
		font-size: 16px;
	}

	.panel.open > *{
		font-size: 20px;
		background: rgba(0,0,0,.2);
		color: white;
	}

	.brook.open{ transform: scale(1.5) translate(50%,50%); }
	.robin.open{ transform: scale(1.5) translateY(50%); }
	.sanji.open{ transform: scale(1.5) translate(-50%,50%); }
	.nami.open{ transform: scale(1.5) translateX(50%); }
	.luffy.open{ transform: scale(1.5); }
	.zoro.open{ transform: scale(1.5) translateX(-50%); }
	.usopp.open{ transform: scale(1.5) translate(50%,-50%); }
	.chopper.open{ transform: scale(1.5) translateY(-50%); }
	.franky.open{ transform: scale(1.5) translate(-50%,-50%); }
}


@media screen and (max-width: 767px) {
	.title{
		font-size: 24px;
	}
	.icon{
		background-image: url(../img/rows.png);
	}
	.panels{
		flex-direction: column;
	}

	.panel{
		flex-direction: row;
		/*align-items: flex-end;*/
	}

	.panel > *{
		flex: 0 1 auto;
		font-size: 16px;
	}

	.panel.open > *{
		font-size: 20px;
		background: rgba(0,0,0,.6);
		color: white;
	}

	.panel > *:first-child{	transform: translateX(-100%); }
	.panels .panel.open-active > *:first-child{ transform: translateX(0); }
	.panel > *:last-child{ transform: translateX(100%); }
	.panels .panel.open-active > *:last-child{ transform: translateX(0); }
}

